<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="./assets/images/icon.png" type="image/png">
  <title>CineFlix</title>

  <!--
    - custom css link
  -->
  <link rel="stylesheet" href="/main.css">
  <link rel="stylesheet" href="/media_query.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <!--
    - google font link
  -->
  <link rel="preconnect" href="https://fonts.googleapis.com"/>
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
  <link href="https://fonts.googleapis.com/css2?family=EB+Garamond&family=Shantell+Sans:wght@300&display=swap" rel="stylesheet"/>
  <link href="https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900" rel="stylesheet" />
</head>

<body>
      <!--
    - main container
  -->
  <div class="container">

    <!--
      - #HEADER SECTION
    -->

    <header class="">
      <div class="navbar">

        <!--
          - menu button for small screen
        -->
        <button class="navbar-menu-btn">
          <span class="one"></span>
          <span class="two"></span>
          <span class="three"></span>
        </button>


        <a href="#" class="navbar-brand">
          <img src="assets/images/logo.png">
        </a>

        <!--
          - navbar navigation
        -->

        <nav class="">
          <ul class="navbar-nav">

            <li> <a href="/" class="navbar-link">Home</a> </li>
            <li> <a href="#category" class="navbar-link">Category</a> </li>
            <li> <a href="/" class="navbar-link  indicator" id = "listLinkhomepage">LIST</a> </li>

          </ul>
        </nav>

        <!--
          - search and sign-in
        -->

        <div class="navbar-actions">

          <form action="#" class="navbar-form" id="searchForm">
            <input type="text" name="search" placeholder="Search for film..." class="navbar-form-search" id="searchInput">

            <button class="navbar-form-btn">
              <ion-icon name="search-outline"></ion-icon>
            </button>

            <button class="navbar-form-close">
              <ion-icon name="close-circle-outline"></ion-icon>
            </button>
          </form>


          <!--
            - search button for small screen
          -->

          <button class="navbar-search-btn">
            <ion-icon name="search-outline"></ion-icon>
          </button>
          <!-- Add this container where you want to display user information -->
          <div id="userInfo"></div>

          <a href="#" class="navbar-signin" id="signinButton">
            <span id="signinText">Sign in</span>
            <ion-icon name="log-in-outline"></ion-icon>
          </a>

        </div>

      </div>
      <div class = "login-wrapper" id="loginForm">
        <span class = "icon-close"><ion-icon name = "close"></ion-icon></span>

        <div class = "form-box login" >
          <h2>Login</h2>
          <form action = "#">
            <div class = "input-box">
              <span class = "icon"><ion-icon name = "mail"></ion-icon></span>
              <input type="text" id="usernameInput" required>
              <label>Username</label>
            </div>
            <div class = "input-box">
              <span class = "icon"><ion-icon name = "lock-closed"></ion-icon></span>
              <input type = "password" id="passwordInput" required>
              <label>Password</label>
            </div>
            <button type = "submit" class = "btn">Login</button>
            <div class = "login-register">
              <p>
                Don't have an account?
                <a href = "#" class = "register-link">
                  Register
                </a>
              </p>
            </div>
          </form>
        </div>

        <div class = "form-box register">
          <h2>Sign Up</h2>
          <form action = "#">
            <div class = "input-box">
              <span class = "icon"><ion-icon name = "person"></ion-icon></span>
              <input type = "text" required>
              <label>Username</label>
            </div>
            <div class = "input-box">
              <span class = "icon"><ion-icon name = "mail"></ion-icon></span>
              <input type = "email" required>
              <label>Email</label>
            </div>
            <div class = "input-box">
              <span class = "icon"><ion-icon name = "lock-closed"></ion-icon></span>
              <input type = "password" required>
              <label>Password</label>
            </div>
            <button type = "submit" class = "btn">Sign Up</button>
            <div class = "login-register">
              <p>
                Already have an account?
                <a href = "#" class = "login-link">
                  Sign In
                </a>
              </p>
            </div>
          </form>
        </div>
        
      </div>
      
    </header>



    <!--
        Main section
    -->

    <main>
      <!--Login Section-->

      <div class = "login-wrapper">
        <span class = "icon-close"><ion-icon name = "close"></ion-icon></span>

        <div class = "form-box login">
          <h2>Login</h2>
          <form action = "#">
            <div class = "input-box">
              <span class = "icon"><ion-icon name = "mail"></ion-icon></span>
              <input type = "email" required>
              <label>Email</label>
            </div>
            <div class = "input-box">
              <span class = "icon"><ion-icon name = "lock-closed"></ion-icon></span>
              <input type = "password" required>
              <label>Password</label>
            </div>
            <button type = "submit" class = "btn">Login</button>
            <div class = "login-register">
              <p>
                Don't have an account?
                <a href = "#" class = "register-link">
                  Register
                </a>
              </p>
            </div>
          </form>
        </div>

        <div class = "form-box register">
          <h2>Sign Up</h2>
          <form action = "#">
            <div class = "input-box">
              <span class = "icon"><ion-icon name = "person"></ion-icon></span>
              <input type = "text" required>
              <label>Username</label>
            </div>
            <div class = "input-box">
              <span class = "icon"><ion-icon name = "mail"></ion-icon></span>
              <input type = "email" required>
              <label>Email</label>
            </div>
            <div class = "input-box">
              <span class = "icon"><ion-icon name = "lock-closed"></ion-icon></span>
              <input type = "password" required>
              <label>Password</label>
            </div>
            <button type = "submit" class = "btn">Sign Up</button>
            <div class = "login-register">
              <p>
                Already have an account?
                <a href = "#" class = "login-link">
                  Sign In
                </a>
              </p>
            </div>
          </form>
        </div>
    </div>
      <div class = "banner-card">
        <img src = ''  class = "banner-img" id="filmBackdrop">
      </div>
      

       <!--Log section-->
       <div class = "log-wrapper">
        <a class = "close-function">
          <ion-icon name = "close" class = "close-button"></ion-icon>
        </a>
        <div class = "movie-img">
            <img src = '' class = "profile-img" id="logPoster">
        </div>
        <div class = "log-details">
            <p>I WATCHED...</p>
            <h1 class = "film-title" id="filmTitle">
                
            </h1>
            <p>
                 Directed by <a class = "director" id="logDirector"></a>
            </p>
            <form action = "#" id="reviewForm">
                <p class = "watch-date-data">
                    Watched on
                    <input type ="date" class = "watch-date">
                </p>
                <textarea placeholder="Add a review..." class = "add-review"></textarea>
                <div class = "rating-action">
                    <p class = "rate">
                        Rating
                    </p>
                    <div class="rating-group">
                      <fieldset class="rate">
                        <input type="radio" id="rating10" name="rating" value="5" /><label for="rating10" title="5 stars"></label>
                        <input type="radio" id="rating9" name="rating" value="4.5" /><label class="half" for="rating9" title="4 1/2 stars"></label>
                        <input type="radio" id="rating8" name="rating" value="4" /><label for="rating8" title="4 stars"></label>
                        <input type="radio" id="rating7" name="rating" value="3.5" /><label class="half" for="rating7" title="3 1/2 stars"></label>
                        <input type="radio" id="rating6" name="rating" value="3" /><label for="rating6" title="3 stars"></label>
                        <input type="radio" id="rating5" name="rating" value="2.5" /><label class="half" for="rating5" title="2 1/2 stars"></label>
                        <input type="radio" id="rating4" name="rating" value="2" /><label for="rating4" title="2 stars"></label>
                        <input type="radio" id="rating3" name="rating" value="1.5" /><label class="half" for="rating3" title="1 1/2 stars"></label>
                        <input type="radio" id="rating2" name="rating" value="1" /><label for="rating2" title="1 star"></label>
                        <input type="radio" id="rating1" name="rating" value="0.5" /><label class="half" for="rating1" title="1/2 star"></label>
                        </fieldset>
                    </div>
                </div>
                
                <div>
                    <button type="submit" class = "save-button">Save</button>
                </div>
            </form>
        </div>
        
      </div>

      <!--Add to list-->

      <div class = "addToList-wrapper">
        <a class = "close-function">
            <ion-icon name = "close" class = "close-button"></ion-icon>
        </a>
        <h1>Add '<span class = "movie-title">Interstellar</span>' to lists</h1>
        <form ation = "#">
            <div class = "addToList-body">
                <div class = "list-container">
                    <label class = "list-items">
                        <input type = "checkbox" class = "checkbox" name = "filmlistID">
                        <span class = "checkmark"></span>
                        <span class = "list-label">
                            <span class = "list-name">
                                I'm bored
                            </span>
                        </span>
                        <span class = "list-capacity">5 films</span>
                    </label>
                </div>
                <div class = "list-container">
                    <label class = "list-items">
                        <input type = "checkbox" class = "checkbox" name = "filmlistID">
                        <span class = "checkmark"></span>
                        <span class = "list-label">
                            <span class = "list-name">
                                Hello! Welcome to Los Pollos Hermanos Family!
                            </span>
                        </span>
                        <span class = "list-capacity">5 films</span>
                    </label>
                  </div>
            </div>
            <div class = "addToList-footer">
                
              <input type = "submit" class = "add-action" value = "ADD" disabled> 
                
            </div>
        </form>
        
    </div>
      
       


      <!--Film profile-->
      <div class = "film-profile">
        <div class = "left">
          <div class = "movie-img">
            <img src = ' ' class = "profile-img" id="filmPoster" alt="Film Poster">
          </div>
        </div>
        
        
        
        <div class ="details">
          <h1 class = "film-title">
            <span id="filmTitle2"></span>
          </h1>
          <p>
            Directed by <a class = "director" id="filmDirector"></a>
          </p>
          <p class = "description">
            <span class = "description-content" id="filmDescription"></span>
          </p>


          

          <div class="cast-crew-wrapper">
            <div class="title">
                <ul class="cast-crew-list">
                    <li class="selected" id="cast">
                        <a href="#cast" id="cast-link">CAST</a>
                    </li>
                    <li class="" id = "crew">
                        <a href="#crew" id="crew-link">CREW</a>
                    </li>
                    <li class="" id = "genres">
                        <a href="#genres" id="genres-link">GENRES</a>
                    </li>
                    <li class="" id = "studio">
                        <a href="#studio" id="studio-link">STUDIO</a>
                    </li>
                </ul>
            </div>

        

            <div class="contents" id="Detailcontents">
              <div class = "info">
                <div class = "role-context">
                    <span class = "role">Genres</span>
                </div>
                <div class = "role-content">
                    <a href = "" class = "science-fiction">Science Fiction</a>
                    <a href = "" class = "drama">Drama</a>
                    <a href = "" class = "adventure">Adventure</a>
                </div>
            </div>
          </div>
          
          </div>

        </div>

        <div class = "action-wrapper">
          <div class = "action-list">
            <form action = "">
            <ul>
              <li>
                <div class = "watched-action">
                  <a class = "action-activated" id="watched-action">
                    <ion-icon name = "eye" class = "watch-icon"></ion-icon>
                  </a>
                  <span class = "log">Log</span>
                </div>
                
              </li>
              <li class = "rate-wrapper">
                Rate
                <div id="half-stars-example">
                  <div class="rating-group">
                      <input class="rating__input rating__input--none" checked name="rating2" id="rating2-0" value="0" type="radio" disabled>
                      <label aria-label="0 stars" class="rating__label" for="rating2-0" aria-checked="true">&nbsp;</label>
                      <label aria-label="0.5 stars" class="rating__label rating__label--half" for="rating2-05"><i class="rating__icon rating__icon--star fa fa-star-half"></i></label>
                      <input class="rating__input" name="rating2" id="rating2-05" value="0.5" type="radio" disabled>
                      <label aria-label="1 star" class="rating__label" for="rating2-10"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                      <input class="rating__input" name="rating2" id="rating2-10" value="1" type="radio" disabled>
                      <label aria-label="1.5 stars" class="rating__label rating__label--half" for="rating2-15"><i class="rating__icon rating__icon--star fa fa-star-half"></i></label>
                      <input class="rating__input" name="rating2" id="rating2-15" value="1.5" type="radio" disabled>
                      <label aria-label="2 stars" class="rating__label" for="rating2-20"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                      <input class="rating__input" name="rating2" id="rating2-20" value="2" type="radio" disabled>
                      <label aria-label="2.5 stars" class="rating__label rating__label--half" for="rating2-25"><i class="rating__icon rating__icon--star fa fa-star-half"></i></label>
                      <input class="rating__input" name="rating2" id="rating2-25" value="2.5" type="radio" disabled>
                      <label aria-label="3 stars" class="rating__label" for="rating2-30"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                      <input class="rating__input" name="rating2" id="rating2-30" value="3" type="radio" disabled>
                      <label aria-label="3.5 stars" class="rating__label rating__label--half" for="rating2-35"><i class="rating__icon rating__icon--star fa fa-star-half"></i></label>
                      <input class="rating__input" name="rating2" id="rating2-35" value="3.5" type="radio" disabled>
                      <label aria-label="4 stars" class="rating__label" for="rating2-40"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                      <input class="rating__input" name="rating2" id="rating2-40" value="4" type="radio" disabled>
                      <label aria-label="4.5 stars" class="rating__label rating__label--half" for="rating2-45"><i class="rating__icon rating__icon--star fa fa-star-half"></i></label>
                      <input class="rating__input" name="rating2" id="rating2-45" value="4.5" type="radio" disabled>
                      <label aria-label="5 stars" class="rating__label" for="rating2-50"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                      <input class="rating__input" name="rating2" id="rating2-50" value="5" type="radio" disabled>
                  </div>
                </div>
              </li>
              <li class = "review-action"> 
                <a href = "#" class = "review-action">
                  Share your reviews
                <ion-icon name="add" class = "add-button"></ion-icon>
                </a>
              </li>
              <li>
                <a class = "action-activated">
                Add to list
                <ion-icon name = "bookmark" class = "bookmark-icon"></ion-icon>
                </a>
              </li>
            </ul>
            </form>
          </div>
        </div>
      </div>

       <!--Watch-platforms-->

      
        
      
      
      

      <!--Reviews section-->

      <section>
        <div class="">
            <div class="row">
                <div class="reviews-wrapper">
                    <h1>Reviews</h1>
                    
                    <div class="reviews">
                        <img src="https://secure.gravatar.com/avatar/1625499caf539976e6a8acbe218a9a02?rating=PG&size=1000&border=&default=https%3A%2F%2Fs.ltrbxd.com%2Fstatic%2Fimg%2Favatar1000.a71b6e9c.png" alt="" class="rounded-circle" width="40" height="40">
                        <div class = "attribution">
                          <a class = "context">
                            <span>Reviewed by</span>
                            <strong class = "name">vangoth</strong>
                          </a>
                          <span class = "review-date">&#x2022 20 October, 2018</span>
                        </div>
                      
                        <p>tell me you wouldn't cry too if your son grows up to be casey affleck</p>
                        <a class ="like-review-button">
                          <ion-icon name="heart"></ion-icon>
                          <strong>Like review</strong>
                        </a>
                        <a class = "number-of-likes">13.298 likes</a>
                    </div>
                    <div class="reviews">
                        <img src="https://a.ltrbxd.com/resized/avatar/upload/4/8/5/8/3/shard/avtr-0-1000-0-1000-crop.jpg?v=0359b72ac9" alt="" class="rounded-circle" width="40" height="40">
                        <div class = "attribution">
                          <a class = "context">
                            <span>Reviewed by</span>
                            <strong class = "name">Evan</strong>
                          </a>
                          <span class = "review-date">&#x2022 20 October, 2018</span>
                        </div>
                        <p>Oh. My. God. 
                          <br>
                          I have a headache. But it's the best headache I've ever had.
                        </p>
                        <a class ="like-review-button">
                          <ion-icon name="heart"></ion-icon>
                          <strong>Like review</strong>
                        </a>
                        <a class = "number-of-likes">9.182 likes</a>
                    </div>
                    <div class="reviews">
                        <img src="https://a.ltrbxd.com/resized/avatar/upload/1/0/2/7/7/3/7/5/shard/avtr-0-1000-0-1000-crop.jpg?v=007bfee982" alt="" class="rounded-circle" width="40" height="40">
                        <div class = "attribution">
                          <a class = "context">
                            <span>Reviewed by</span>
                            <strong class = "name">elirossi1</strong>
                          </a>
                          <span class = "review-date">&#x2022 20 October, 2018</span>
                        </div>
                        <p>Good plot and beautiful shots but I was confused for most of the movie</p>
                        <a class ="like-review-button">
                          <ion-icon name="heart"></ion-icon>
                          <strong>Like review</strong>
                        </a>
                        <a class = "number-of-likes"></a>
                    </div>
                </div>
              
            </div>
        </div>
    </section>
    
    </main>

    <footer>

      <div class="footer-content">

        <div class="footer-brand">
          <img src="./assets/images/logo.png" alt="" class="footer-logo">
          <p class="slogan">Movies & TV Shows, Online cinema,
            Movie database HTML Template.</p>


          <div class="social-link">

            <a href="#">
              <ion-icon name="logo-facebook"></ion-icon>
            </a>
            <a href="#">
              <ion-icon name="logo-twitter"></ion-icon>
            </a>
            <a href="#">
              <ion-icon name="logo-instagram"></ion-icon>
            </a>
            <a href="#">
              <ion-icon name="logo-tiktok"></ion-icon>
            </a>
            <a href="#">
              <ion-icon name="logo-youtube"></ion-icon>
            </a>

          </div>
        </div>


        <div class="footer-links">
          <ul>

            <h4 class="link-heading">CineFlix</h4>

            <li class="link-item"><a href="#">About us</a></li>
            <li class="link-item"><a href="#">My profile</a></li>
            <li class="link-item"><a href="#">Pricing plans</a></li>
            <li class="link-item"><a href="#">Contacts</a></li>

          </ul>

          <ul>

            <h4 class="link-heading">Browse</h4>

            <li class="link-item"><a href="#">Live Tv</a></li>
            <li class="link-item"><a href="#">Live News</a></li>
            <li class="link-item"><a href="#">Live Sports</a></li>
            <li class="link-item"><a href="#">Streaming Library</a></li>

          </ul>

          <ul>

            <li class="link-item"><a href="#">TV Shows</a></li>
            <li class="link-item"><a href="#">Movies</a></li>
            <li class="link-item"><a href="#">Kids</a></li>
            <li class="link-item"><a href="#">Collections</a></li>

          </ul>

          <ul>

            <h4 class="link-heading">Help</h4>

            <li class="link-item"><a href="#">Account & Billing</a></li>
            <li class="link-item"><a href="#">Plans & Pricing</a></li>
            <li class="link-item"><a href="#">Supported devices</a></li>
            <li class="link-item"><a href="#">Accessibility</a></li>

          </ul>
        </div>

      </div>

      <div class="footer-copyright">

        <div class="copyright">
          <p>&copy; copyright 2021 CineFlix</p>
        </div>

        <div class="wrapper">
          <a href="#">Privacy policy</a>
          <a href="#">Terms and conditions</a>
        </div>

      </div>

    </footer>
  </div>

    <script src="/main.js"></script>
    <script src="/filmsDetail.js"></script>
    <script src="/auth.js"></script>
    <script src="/list.js"></script>



  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>

