<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- user's display name's list, e.g. linh's lists -->
    <title>film lists</title>
    <link rel="stylesheet" href="style/userlist.css">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat&display=swap');
    </style>
</head>

<body>
    <section>
        <nav class="main-nav">
            <ul>
                <li>
                    <img class="user-pfp" src="https://phinf.wevpstatic.net/MjAyMjA2MTdfMTc0/MDAxNjU1NDU5MDg0MTQ1.uhAb2lBf3Lk8GOfkphocPqGS7u6oFwNI7Ivz6rRaWmcg.n0E2y1GmuLThK-cOpCtqX9DBi8tYnuApBrId5g8Khu4g.JPEG/94812742464747b1a001b5009d130302447.jpg?type=w670">
                </li>
                <li><a href="#">username</a></li>
                <li><a href="#">films</a></li>
                <li><a href="#">lists</a></li>
                <li><a href="#">members</a></li>
                <li><a href="#">log out</a></li>
                <li>
                    <button id = "search-button" type = "submit">
                        <img class ="button-img" src="images/search-icon.png">
                    </button>
                </li>
            </ul>
        </nav>
    </section>

    <section id = "main-content">
        <div class = "intro">
                Track films you've watched.<br>
                Save those you want to see.<br>
                Tell your friends what's good. 
        </div>

        <div class ="sort-by-wrapper">
            <p>Sort by</p>

            <div class = "select-container">
                <div id = "sort-title"><a href="#">Title</a></div>
                <div class = "date-modified">Date modified
                    <div id = "modified-newest-first"><a href="#">Newest first</a></div>
                    <div id = "modified-oldest-first"><a href="#">Oldest first</a></div>
                </div>
                <div class = "date-created">Date created
                    <div id = "created-newest-first"><a href="#">Newest first</a></div>
                    <div id = "created-oldest-first"><a href="#">Oldest first</a></div>
                </div>
            </div>
        </div>

        <div id = "list-set">
            <hr>

            <div class = "list-card" id = "list-card">
                    <div id = "list-posters">

                        <img class = "poster-1" src = "https://m.media-amazon.com/images/M/MV5BNTNiOGI4ZWUtZTc1OC00ZTIzLWExNWMtYWQ5MGNiYjI0ZjkxXkEyXkFqcGdeQXVyMTA4NjE0NjEy._V1_.jpg">
                        <img class = "poster-2" src = "https://image.tmdb.org/t/p/original/wby9315QzVKdW9BonAefg8jGTTb.jpg">
                        <img class = "poster-3" src = "https://image.tmdb.org/t/p/original/gQB8Y5RCMkv2zwzFHbUJX3kAhvA.jpg">
                        <img class = "poster-4" src = "https://image.tmdb.org/t/p/original/ekstpH614fwDX8DUln1a2Opz0N8.jpg">
                        <img class = "poster-5" src = "https://image.tmdb.org/t/p/original/3bhkrj58Vtu7enYsRolD1fZdja1.jpg">
                    </div>
                <div class = "list-details">
                    <a id = "list-title" href="#">summer watchlist</a>
                    <p id = "list-description">5 films</p>
                </div>
            </div>

            <hr>

            <div class = "list-card" id = "list-card">
                <div id = "list-posters">
                    <img class = "poster-1" src = "https://m.media-amazon.com/images/M/MV5BNTNiOGI4ZWUtZTc1OC00ZTIzLWExNWMtYWQ5MGNiYjI0ZjkxXkEyXkFqcGdeQXVyMTA4NjE0NjEy._V1_.jpg">
                    <img class = "poster-2" src = "https://image.tmdb.org/t/p/original/wby9315QzVKdW9BonAefg8jGTTb.jpg">
                    <img class = "poster-3" src = "https://image.tmdb.org/t/p/original/gQB8Y5RCMkv2zwzFHbUJX3kAhvA.jpg">
                    <img class = "poster-4" src = "https://image.tmdb.org/t/p/original/ekstpH614fwDX8DUln1a2Opz0N8.jpg">
                    <img class = "poster-5" src = "https://image.tmdb.org/t/p/original/3bhkrj58Vtu7enYsRolD1fZdja1.jpg">
                </div>
            <div class = "list-details">
                <a id = "list-title" href="#">favorites</a>
                <p id = "list-description">5 films</p>
            </div>
        </div>
        </div>
    </div>

    </section>
</body>
</html>

