/*-------------------------------------*\
  #main.css
\*-------------------------------------*/

/**
 * copyright 2021 @codewithsadee 
 */





/*-------------------------------------*\
  #VARIABLES
\*-------------------------------------*/

/**
 * import variables.css file 
 */

 @import url(./variable.css);





 /*-------------------------------------*\
   #RESET
 \*-------------------------------------*/
 
 /**
  * import reset.css file 
  */
 
 @import url(./reset.css);
 
 
 
 
 
 /*-------------------------------------*\
   #REPEAT
 \*-------------------------------------*/
 
 /**
  * reused style
  */
 
 header, nav { 
   background: var(--rich-black-fogra-29); }
 
 .navbar,
 .banner,
 .movies,
 .category,
 .live {
   padding: 0 var(--px);
 }
 
 .section-heading {
   font-size: var(--section-heading);
   font-weight: var(--fw-5);
   margin-bottom: 60px;
 }
 
 
 
 
 
 /*-------------------------------------*\
   #MAIN
 \*-------------------------------------*/
 
 /**
  * main container style 
  */
 
 .container {
   max-width: 1440px;
   margin: auto;
 }
 
 
 
 
 
 /*-------------------------------------*\
   #NAVBAR
 \*-------------------------------------*/
 
 /**
  * navbar style 
  */
 
 .navbar {
   height: 100px;
   display:         flex;
   justify-content: space-between;
   align-items:     center;
   border-bottom: solid rgb(5, 114, 238) 2px;
   border-radius: 5px;
 }
 
 /**
  * small screen menu button style 
  */
 
 .navbar-menu-btn { display: none; }
 
 /**
  * navbar navigation style 
  */
 
 nav { margin-right: 200px; }
 
 .navbar-nav { display: flex; }
 
 .navbar-nav li:not(:last-child) { margin-right: 60px; }
 
 .navbar-link {
   font-size: var(--fs-sm);
   font-weight: var(--fw-5);
 }
 
 .navbar-link:hover { color: var(--light-azure); }
 
 /**
  * live indicator style 
  */
 
 .indicator { position: relative; }
 
 .indicator::after {
   content: '';
   background: var(--live-indicator);
   position: absolute;
   top:   calc(50% - 1px);
   right: -15px;
   width:  4px;
   height: 4px;
   box-shadow: 0 0 0 2px var(--live-indicator-shadow);
   border-radius: 5px;
 }
 
 /**
  * navbar form & button style 
  */
 
 .navbar-actions {
   display:     flex;
   align-items: center;
 }
 
 .navbar-form {
   position: relative;
   margin-right: 50px;
 }
 
 .navbar-form-search {
   background: var(--oxford-blue);
   width: 100%;
   padding: 12px 20px;
   border-radius: 15px;
   color: var(--off-white);
   font-size: var(--fs-sm);
   font-weight: var(--fw-5);
 }
 
 .navbar-form-btn {
   background: var(--oxford-blue);
   position: absolute;
   top:   calc(50% - 10px);
   right: 10px;
 }
 
 .navbar-form-btn ion-icon,
 .navbar-search-btn ion-icon {
   font-size: 20px;
   color: var(--light-azure);
   --ionicon-stroke-width: 50px;
 }
 
 .navbar-form-btn:hover ion-icon,
 .navbar-form-search::placeholder { color: var(--off-white); }
 
 /**
  * navbar-form close button & navbar search button
  * for small device 
  */
 
 .navbar-form-close,
 .navbar-search-btn { display: none; }
 
 .navbar-signin {
   display:     flex;
   align-items: center;
   font-size: var(--fs-sm);
 }
 
 .navbar-signin ion-icon {
   font-size: 22px;
   color: var(--light-azure);
   margin-left: 5px;
   --ionicon-stroke-width: 30px;
 }
 
 .navbar-signin:hover span { color: var(--light-azure); }
 
 
 
 
 
 /*-------------------------------------*\
   #BANNER
 \*-------------------------------------*/
 
 /**
  * banner card style 
  */
 
 .banner { margin-bottom: 60px; }
 
 .banner-card {
   position: relative;
   height: 400px;
   overflow: hidden;
   border-radius: 20px;
   cursor: pointer;
 }
 
 .banner-img { object-position: top; 
     height: 400px;
 }
 
 .banner-card:hover .banner-img { transform: scale(1.1); }
 
 .banner-card .card-content {
   position: absolute;
   right:  80px;
   bottom: 60px;
   left:   80px;
 }
 
 .banner-card .card-info {
   display:     flex;
   align-items: center;
   margin-bottom: 20px;
 }
 
 .banner-card .card-info div {
   display:     flex;
   align-items: center;
   margin-right: 20px;
 }
 
 .banner-card .card-info ion-icon {
   font-size: 20px;
   color: var(--azure);
   margin-right: 5px;
 }
 
 .banner-card .card-info span { font-weight: var(--fw-6); }
 
 .banner-card .card-info .quality {
   background: var(--azure);
   padding: 2px 5px;
   border-radius: 5px;
   font-weight: var(--fw-7);
 }
 
 .banner-card .card-title {
   font-size: 3em;
   color: var(--white);
   text-shadow: 2px 0 2px #0007;
 }
 
 
 
 
 
 /*-------------------------------------*\
   #MOIVES SECTION
 \*-------------------------------------*/
 
 .movies { margin-bottom: 60px; }
 
 /**
  * filter bar style
  */
 
 .filter-bar {
   display:         flex;
   justify-content: space-between;
   align-items:     center;
   background: var(--oxford-blue);
   padding: 20px 30px;
   border-radius: 20px;
   margin-bottom: 30px;
 }
 
 .filter-bar select {
   color: var(--white);
   font-size: var(--fs-sm);
   margin-right: 15px;
   cursor: pointer;
 }
 
 .filter-bar option { background: var(--oxford-blue); }
 
 .filter-radios {
   position: relative;
   background: var(--rich-black-fogra-29);
   padding: 10px;
   border-radius: 15px;
 }
 
 .filter-radios input { display: none; }
 
 .filter-radios label {
   position: relative;
   margin: 0 10px;
   font-size: var(--fs-sm);
   user-select: none;
   cursor: pointer;
   z-index: 10;
 }
 
 .filter-radios input:checked + label,
 .filter-radios label:hover { color: var(--light-azure); }
 
 input ~ .checked-radio-bg {
   /**
    * variable for changing position and size
    * besed on radio checked 
    */
   --width: 45px;
   --left:   5px;
 
   background: var(--oxford-blue);
   position: absolute;
   top:    5px;
   left:   var(--left);
   bottom: 5px;
   width: var(--width);
   border-radius: 10px;
 }
 
 #mostRate:checked ~ .checked-radio-bg{
   --width: 85px;
   --left: 50px;
 }
 
 #popular:checked ~ .checked-radio-bg {
   --width: 73px;
   --left:  138px;
 }
 
 #newest:checked ~ .checked-radio-bg {
   --width:  81px;
   --left:  210px;
 }
 
 
 
 /**
  * movies grid 
  */
 
 .movies-grid {
   display: grid;
   grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
   gap: 30px;
   margin-bottom: 60px;
 }
 
 .movie-card {
   /**
    * variable for scaling overlay element on card hover 
    */
   --scale: 0.8;
 
   cursor: pointer;
 }
 
 .movie-card .card-head {
   position: relative;
   height: 250px;
   border-radius: 15px;
   margin-bottom: 15px;
   overflow: hidden;
 }
 
 .movie-card:hover .card-img { transform: scale(1.1); }
 
 .movie-card .card-overlay {
   position: absolute;
   inset: 0;
   opacity: 0;
   backdrop-filter: blur(5px);
 }
 
 .movie-card:hover .card-overlay { opacity: 1; }
 
 .movie-card .bookmark,
 .movie-card .rating {
   position: absolute;
   top: 15px;
   padding: 6px;
   border-radius: 10px;
   color: var(--light-azure);
   transform: scale(var(--scale));
 }
 
 .movie-card .bookmark {
   background: var(--oxford-blue);
   left: 15px;
 }
 
 .movie-card .bookmark:hover { color: var(--yellow); }
 
 .movie-card .rating {
   display:     flex;
   align-items: center;
   right: 15px;
   background: var(--oxford-blue-50);
 }
 
 .movie-card .rating span {
   color: var(--white);
   font-size: 13px;
   font-weight: var(--fw-5);
   margin-left: 5px;
 }
 
 .movie-card ion-icon {
   font-size: 16px;
   display: block;
   --ionicon-stroke-width: 50px;
 }
 
 .movie-card .play {
   position: absolute;
   top:  50%;
   left: 50%;
   transform: translate(-50%, -50%) scale(var(--scale));
 }
 
 .movie-card .play ion-icon {
   font-size: 60px;
   --ionicon-stroke-width: 20px;
 }
 
 .movie-card:hover :is(.bookmark, .rating, .play) { --scale: 1; }
 
 .movie-card .card-title {
   font-size: var(--fs-md);
   font-weight: var(--fw-5);
   margin-bottom: 5px;
 }
 
 .movie-card:hover .card-title { color: var(--light-azure); }
 
 .movie-card .card-info {
   display: flex;
   font-size: var(--fs-x-sm);
   font-weight: var(--fw-5);
 }
 
 .movie-card .genre { margin-right: 8px; }
 
 
 /**
  * load more button 
  */
 
 .load-more {
   background: var(--oxford-blue);
   display: block;
   padding: 20px 50px;
   margin: auto;
   font-size: var(--fs-sm);
   font-weight: var(--fw-5);
   border-radius: 15px;
   color: var(--white);
 }
 
 .load-more:hover { background: var(--light-azure); }
 
 
 
 
 
 /*-------------------------------------*\
   #CATEGORY SECTION
 \*-------------------------------------*/
 
 .category { margin-bottom: 60px; }
 
 .category-grid {
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   gap: 30px;
 }
 
 .category-card {
   position: relative;
   height: 150px;
   border-radius: 20px;
   overflow: hidden;
   cursor: pointer;
 }
 
 .category-card::after {
   content: '';
   position: absolute;
   inset: 0;
   background: linear-gradient(180deg, transparent 20%, #000a);
 }
 
 .category-card:hover .card-img { transform: scale(1.1); }
 
 .category-card .name,
 .category-card .total {
   position: absolute;
   bottom: 20px;
   color: var(--white);
   z-index: 20;
 }
 
 .category-card .name {
   left: 20px;
   font-size: 20px;
 }
 
 .category-card .total {
   right: 20px;
   font-size: 18px;
   background: var(--oxford-blue-50);
   padding: 5px 8px;
   border-radius: 8px;
 }
 
 .category-card:hover .name { color: var(--light-azure); }
 
 
 
 
 
 /*-------------------------------------*\
   #LIVE SECTION
 \*-------------------------------------*/
 
 .live { margin-bottom: 60px; }
 
 .live-grid {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
   gap: 30px;
 }
 
 .live-card { cursor: pointer; }
 
 .live-card .card-head {
   position: relative;
   height: 250px;
   border-radius: 20px;
   margin-bottom: 15px;
   overflow: hidden;
 }
 
 .live-card .card-head::after {
   content: '';
   position: absolute;
   inset: 0;
   background: linear-gradient(180deg, transparent 20%, #000a);
 }
 
 .live-card:hover .card-img { transform: scale(1.1); }
 
 .live-card .live-badge,
 .live-card .total-viewers {
   position: absolute;
   left: 30px;
   border-radius: 10px;
   padding: 5px 10px;
   z-index: 10;
 }
 
 .live-card .live-badge {
   top: 30px;
   font-size: var(--fs-x-sm);
   font-weight: var(--fw-5);
   background: var(--live-indicator);
 }
 
 .live-card .total-viewers {
   bottom: 30px;
   font-size: 15px;
   font-weight: var(--fw-6);
   background: var(--oxford-blue-50);
 }
 
 .live-card .play {
   position: absolute;
   top:  50%;
   left: 50%;
   transform: translate(-50%, -50%) scale(0.8);
   opacity: 0;
   z-index: 10;
 }
 
 .live-card .play ion-icon {
   font-size: 60px;
   --ionicon-stroke-width: 20px;
 }
 
 .live-card:hover .play {
   opacity: 1;
   transform: translate(-50%, -50%) scale(1); 
 }
 
 .live-card .card-body {
   display:         flex;
   justify-content: flex-start;
   align-items:     flex-start;
 }
 
 .live-card .avatar {
   width: 40px;
   border-radius: 10px;
   margin-right: 15px;
 }
 
 .live-card .card-title {
   font-size: var(--fs-lg);
   font-weight: var(--fw-5);
 }
 
 .live-card:hover .card-title { color: var(--light-azure); }
 
 
 
 
 
 /*-------------------------------------*\
   #FOOTER SECTION
 \*-------------------------------------*/
 
 footer {
   background: var(--rich-black-fogra-30);
   padding: 80px var(--px) 40px;
 }
 
 .footer-content {
   display:         flex;
   justify-content: space-between;
   align-items:     flex-start;
   border-bottom: 1px solid var(--oxford-blue-50);
   padding-bottom: 80px;
 }
 
 .footer-brand {
   max-width: 250px;
   margin-right: 130px;
 }
 
 .footer-logo {
   width: 100px;
   margin-bottom: 30px;
 }
 
 .slogan {
   font-size: var(--fs-sm);
   line-height: 20px;
   margin-bottom: 20px;
 }
 
 .social-link a { display: inline-block; }
 
 .social-link ion-icon {
   font-size: 25px;
   margin-right: 20px;
 }
 
 .footer-links {
   width: 100%;
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   gap: 50px;
   align-items: flex-end;
 }
 
 .link-heading { margin-bottom: 20px; }
 
 .link-item { font-size: var(--fs-sm); }
 
 ul .link-item:not(:last-child) { margin-bottom: 10px; }
 
 .link-item:hover a { color: var(--light-azure); }
 
 .footer-copyright {
   display:         flex;
   justify-content: space-between;
   align-items:     center;
   padding-top: 40px;
 }
 
 .footer-copyright p,
 .wrapper a { font-size: var(--fs-sm); }
 
 .wrapper a:hover { color: var(--light-azure); }
 
 .wrapper { display: flex; }
 
 .wrapper a:not(:last-child) { margin-right: 30px; }
 
 /*---Movies Pages---*/
 
 .film-profile{
   
   margin-left: 150px;
   width: 1050px;
 }
 
 .left{
   width: 230px;
   display: inline-block;
   overflow: hidden;
 }
 
 .movie-img{
   
   height: 350px; 
   width: 230px;
 }
 
 .profile-img{
   
   position: left;
   height: 350px;
   width: 230px;
   object-fit: contain;
   border-radius: 5px;
   border-style: solid;
 }
 .details{
   padding-top: 25px;
   display: inline-block;
   vertical-align: top;
   margin-left: 50px;
   width: 500px;
 }
 
 .film-title{
   display: inline-block;
   font-family: 'EB Garamond', serif;
   font-size: 40px;
   font-weight: bold;
 }
 
 .director {
   display: inline-block;
 }
 
 .description{
   display: inline-block;
   padding-top: 20px;
   width: 500px;
   font-family: 'EB Garamond', serif;
   font-size: larger;
 }
 
 .quote{
   display: block;
   font-style: italic;
   padding-bottom: 5px;
 }
 
 
 
 .watch-platforms{
   margin-top: 20px;
   display: inline-block;
   width: 200px;
 }
 
 .platforms-list{
   font-size: 15px;
   margin-top: 15px;
   margin-bottom: 15px;
   padding-left: 5px;
   padding-top: 5px;
   padding-bottom: 5px;
   background-color: rgb(53, 53, 53);
   border-radius: 5px;
 }
 
 .list-of-platforms{
   
   padding-bottom: 10px;
   border-top-left-radius: 3px;
   border-top-right-radius: 3px;
   border-bottom: 1px solid grey;
   
 }
 .list-of-platforms label{
   font-size: 13px;
 }
 .list-of-platforms label:hover{
   color: rgb(5, 114, 238) ;
   text-decoration: underline;
 }
 
 .cast-crew-wrapper{
   width: 450px;
   margin-top: 150px;
   vertical-align: top;
   display: inline-block;
   
 }
 
 .cast-crew-wrapper .title {
   border-bottom: 2px rgba(128, 128, 128, 0.301) solid;
   border-radius: 5px;
 }
 
 .cast-crew-list li{
   margin-top: 5px;
   padding-top: 15px;
   padding-bottom: 10px;
   margin-right: 50px;
   display: inline-block;
 }
 
 .cast-crew-list-contents a:hover {
   color:rgb(5, 114, 238);
   text-decoration: underline;
 }
 
 .contents{
   margin-top: 10px;
 }
 
 .cast-crew-wrapper .contents a{
   margin: 0px 5px 10px 5px;
   padding: 10px;
   display: inline-block;
   background-color: rgb(53, 53, 53);
   border: 1px;
   border-radius: 5px;
   font-size: 10px;
 }
 .cast-crew-wrapper .navigation-bar .category{
   display: inline-block;
   width: 60px;
   padding: 0px 10px 0px 10px;
   margin: 15px;
 }
 .navigation-bar .category:hover{
   color: rgb(5, 114, 238);
 }
 .navigation-bar .category onclick{
   color: rgb(5, 114, 238);
 }
 
 .w3-hide{
   display: none;
 }
 .w3-show{
   display: block;
 }
 
 .cast-crew-wrapper .contents a:hover{
   opacity: 0.8;
 }
 .info{
   margin-bottom: 15px;
 }
 .info div{
   display: inline-block;
 }
 .info .role-context{
   width: 50%;
   height: auto;
 }
 .info .role-content{
   width: 200px;
   vertical-align: top;
 }
 .role{
   color: rgba(245, 245, 245, 0.301);
   font-size: 13px;
 }
 .selected{
   border-bottom: rgb(5, 114, 238) solid 2px;
 }
 .selected a{
   color: rgb(5, 114, 238);
 }
 
 .action-wrapper{
   margin-top: 20px;
   display: inline-block;
   position: relative;
   width: 250px;
   vertical-align: top;
 }
 
 .action-list li {
   background:rgb(53, 53, 53) ;
   border-top-left-radius: 3px;
   border-top-right-radius: 3px;
   border-bottom: 1px solid rgba(0, 0, 0, .5);
 
   padding: 20px 10px 20px 20px;
 }
 
 .action-list .rate-wrapper{
   text-align: center;
   align-items: center;
 }
 
 .action-list .like-action{
   padding-left: 20px;
 }
 
 .action-list ion-icon{
   display: block;
   font-size: 2em;
   position: relative;
 }
 
 
 
 .review-action .add-button {
   background-color: transparent;
   backdrop-filter: blur(4);
   display: inline-block;
   font-size: 15px;
   position: relative;
   margin-left: 10px;
   border: white 1px solid;
   border-radius: 5px;
   vertical-align: middle;
 }
 .review-action .add-button:hover{
   border: rgb(5, 114, 238) 1px solid;
   color: rgb(5, 114, 238);
   cursor: pointer;
 }
 
 .review-action .add{
   display: none;
 }
 
 .action-list .like-action,
 .action-list .watched-action{
   
   
   display: inline-block;
   
 }
 
 .watched-action {
   margin: auto;
   width: 100%;
   padding: 10px;
   text-align: center;
 }
 
 .watched-action .watch-icon{
   margin: auto;
 }
 
 .watched-action .watch-icon:hover{
   color: rgba(5, 114, 238, 0.5);
   cursor: pointer;
   margin: auto;
 }
 
 .like-action .like-icon:hover{
   cursor: pointer;
   color: palevioletred;
 }
 
 .action-list .bookmark-icon{
   font-size: 1em;
   display: inline-block;
   padding-left: 10px;
 }
 
 .action-list .bookmark-icon:hover{
   color: rgb(5, 114, 238);
   cursor: pointer;
 }
 
 /*--Sign in function--*/
 
 
 
 .login-wrapper{
   position: relative;
   margin-left: 450px;
   width: 400px;
   height: 440px;
   background: transparent;
   border: 2px solid whitesmoke;
   border-radius: 20px;
   backdrop-filter: blur(20px);
   box-shadow: 0 0 30px rgba(0, 0, 0, .5);
   display: none;
   align-items: center;
   overflow: hidden;
   transition: transform .5s ease, height .2s ease;
   transform: scale(0);
 }
 .login-wrapper.active{
   height: 520px;
 }
 .login-wrapper.active-popup{
   transform: scale(1);
   display: flex;
   transition: transform .10s ease, height .2s ease;
 }
 .login-wrapper .icon-close{
   position: absolute;
   top: 0;
   right: 0;
   width: 45px;
   height: 45px;
   display: flex;
   font-size: 2em;
   background-color: rgb(5, 114, 238);
   align-content: center;
   align-items: center;
   border-bottom-left-radius: 20px;
   cursor: pointer;
   z-index: 1;
 }
 .login-wrapper .form-box{
   width: 100%;
   padding: 40px;
 }
 
 .login-wrapper .form-box.login{
   /*display: none;*/
   transition: transform .18s ease;
   transform: translateX(0);
 }
 
 .login-wrapper.active .form-box.login{
   transition: none;
   transform: translateX(-400px);
 }
 
 .login-wrapper .form-box.register{
   position: absolute;
   transition: none;
   transform: translateX(400px);
 }
 
 .login-wrapper.active .form-box.register{
   transition: transform .18s ease;
   transform: translateX(0);
 }
 
 .form-box h2{
   font-size: 2em;
   color: rgb(5, 114, 238);
   text-align: center;
 }
 .input-box{
   position: relative;
   width: 100%;
   height: 50px;
   border-bottom: 2px solid grey;
   margin: 30px 0;
 }
 .input-box label{
   position: absolute;
   top: 50%;
   left: 5px;
   transform: translateY(-50%);
   font-size: 1em;
   font-weight: 500;
   pointer-events: none;
   transition: .5s;
 }
 .input-box input{
   width: 100%;
   height: 100%;
   background: transparent;
   border: none;
   outline: none;
   font-size: 1em;
   color: rgb(5, 114, 238);
   font-weight: 600;
   padding: 0 35px 0 5px;
 }
 .input-box input:focus~label,
 .input-box input:valid~label{
   top: -5px;
 }
 .input-box .icon{
   position: absolute;
   right: 8px;
   font-size: 1.2em;
   color: rgb(5, 114, 238);
   line-height: 57px;
 }
 .btn{
   width: 100%;
   height: 45px;
   background:rgb(5, 114, 238);
   border: none;
   outline: none;
   border-radius: 6px;
   cursor: pointer;
   font-size: 1em;
   font-weight: 500;
 }
 .login-register {
   font-size: .9em;
   text-align: center;
   font-weight: 500;
   margin: 25px 0 10px;
 
 }
 .login-register p a {
   font-weight: 600;
 }
 .login-register p a:hover{
   text-decoration: underline;
   color: rgb(5, 114, 238);
   transition: .5s;
 }
 
 
 /*---Rating function--*/
 
 #half-stars-example {
 
   /* use display:inline-flex to prevent whitespace issues. alternatively, you can put all the children of .rating-group on a single line */
   .rating-group {
     display: inline-flex;
   }
   
   /* make hover effect work properly in IE */
   .rating__icon {
     pointer-events: none;
   }
   
   /* hide radio inputs */
   .rating__input {
    position: absolute !important;
    left: -9999px !important;
   }
 
   /* set icon padding and size */
   .rating__label {
     cursor: pointer;
     /* if you change the left/right padding, update the margin-right property of .rating__label--half as well. */
     padding: 0 0.1em;
     font-size: 2rem;
   }
 
   /* add padding and positioning to half star labels */
   .rating__label--half {
     padding-right: 0;
     margin-right: -0.6em;
     z-index: 2;
   }
   
   /* set default star color */
   .rating__icon--star {
     color: rgb(5, 114, 238);
   }
   
   /* set color of none icon when unchecked */
   .rating__icon--none {
     color: #eee;
   }
 
   /* if none icon is checked, make it red */
   .rating__input--none:checked + .rating__label .rating__icon--none {
     color: red;
   }
 
   /* if any input is checked, make its following siblings grey */
   .rating__input:checked ~ .rating__label .rating__icon--star {
     color: #ddd;
   }
   
   /* make all stars orange on rating group hover */
   .rating-group:hover .rating__label .rating__icon--star,
   .rating-group:hover .rating__label--half .rating__icon--star {
     color: rgb(5, 114, 238);
   }
 
   /* make hovered input's following siblings grey on hover */
   .rating__input:hover ~ .rating__label .rating__icon--star,
   .rating__input:hover ~ .rating__label--half .rating__icon--star {
     color: #ddd;
   }
   
   /* make none icon grey on rating group hover */
   .rating-group:hover .rating__input--none:not(:hover) + .rating__label .rating__icon--none {
      color: #eee;
   }
 
   /* make none icon red on hover */
   .rating__input--none:hover + .rating__label .rating__icon--none {
     color: red;
   }
 }
 
 /*---Reviews section---*/
 
 .reviews-wrapper{
   width: 850px;
   margin: 100px 0 300px 150px;
 }
 
 .reviews-wrapper h1{
   margin-bottom: 20px;
   padding-bottom: 5px;
   border-bottom: rgb(53, 53, 53) solid 2px;
   border-radius: 5px;
 }
 
 .rounded-circle{
   border-radius: 20px;
   height: 40px;
   width: 40px;
   object-fit: contain;
   display: inline-block;
   vertical-align: middle;
 }
 
 .reviews{
   margin-bottom: 20px;
   padding-bottom: 10px;
   border-bottom: 2px solid rgba(5, 114, 238, 0.276);
   height: 100%;
 }
 
 .reviews .attribution{
   display: inline-block;
   margin: 0 10px 0px 10px;
   vertical-align: middle;
 }
 
 .reviews .attribution .context span {
   color: rgba(246, 246, 246, 0.847);
 }
 
 .reviews .review-date{
   color: rgba(246, 246, 246, 0.6);
   font-size: 10px;
   display: inline-block;
 }
 
 .attribution .user-rate{
   margin-left: 50px;
 }
 
 .reviews p{
   margin-top: 20px;
   margin-bottom: 20px;
 }
 
 .reviews .like-review-button{
   display: inline-block;
   margin-left: 20px;
   margin-right: 20px;
   color: rgba(246, 246, 246, 0.6);
   font-size: 13px;
 }
 
 .reviews .like-review-button:hover {
   cursor: pointer;
   opacity: 0.8;
 }
 
 .reviews .number-of-likes{
   color: rgba(246, 246, 246, 0.6);
   font-size: 13px;
   display: inline-block;
 }
 
 /*---log-section---*/
 
 
 .log-wrapper{
   overflow: hidden;
   display: none;
   /*position: relative;*/
   margin: auto;
   width: 65%;
   height: 600px;
   background-color: rgb(53, 53, 53);
   border: rgb(5, 114, 238) solid 2px;
   border-radius: 5px;
   padding-top: 30px;
   transition: transform .5s ease, height .2s ease;
   transform: scale(1);
 }
 
 
 /*ref
 .login-wrapper{
   position: relative;
   margin-left: 450px;
   width: 400px;
   height: 440px;
   background: transparent;
   border: 2px solid whitesmoke;
   border-radius: 20px;
   backdrop-filter: blur(20px);
   box-shadow: 0 0 30px rgba(0, 0, 0, .5);
   display: none;
   align-items: center;
   overflow: hidden;
   transition: transform .5s ease, height .2s ease;
   transform: scale(0);
 }
 .login-wrapper.active{
   height: 520px;
 }
 .login-wrapper.active-popup{
   transform: scale(1);
   display: flex;
   transition: transform .10s ease, height .2s ease;
 }
 ref*/
 
 .log-wrapper .close-button{
   background-color: rgb(5, 114, 238);
   position: absolute;
   top: 0px;
   right: 0px;
   height: 30px;
   width: 30px;
   border-radius: 5px;
 }
 
 .log-wrapper .close-button:hover{
   cursor: pointer;
   opacity: 0.8;
 }
 
 .log-wrapper .movie-img{
   display: inline-block;
   margin-left: 50px;
 }
 
 .log-wrapper .profile-img{
   height: 200px;
   width: 150px;
 }
 
 .log-wrapper .log-details {
   margin-left: 20px;
   display: inline-block;
   vertical-align: top;
   width: 400px;
 }
 
 .log-wrapper .log-details h1{
   font-size: 30px;
 }
 
 .log-wrapper .log-details .watch-date-data{
   margin-top: 10px;
   font-size: 13px;
   color: rgba(246, 246, 246, 0.6);
 }
 
 .log-wrapper .log-details .watch-date{
   display: block;
   margin-top: 10px;
   margin-bottom: 10px;
   background-color: aliceblue;
   padding: 5px;
   font-size: 15px;
   width: 180px;
   border: solid black 2px;
   border-radius: 5px;
 }
 
 .log-details .add-review{
   background-color: aliceblue;
   margin-top: 10px;
   padding: 5px;
   width: 100%;
   font-family: Arial, Helvetica, sans-serif;
   transition: .8s;
 }
 
 .log-details .add-review:focus {
   width: 450px;
   height: 150px;
 }
 
 
 .log-details .rating-group {
   display: inline-flex;
 }
 
 /* use display:inline-flex to prevent whitespace issues. alternatively, you can put all the children of .rating-group on a single line */
 .log-details .rating-group {
   display: inline-flex;
 }
 
 /* make hover effect work properly in IE */
 .log-details .rating__icon {
   pointer-events: none;
 }
 
 /* hide radio inputs */
 .log-details .rating__input {
  position: absolute !important;
  left: -9999px !important;
 }
 
 /* set icon padding and size */
 .log-details .rating__label {
   cursor: pointer;
   /* if you change the left/right padding, update the margin-right property of .rating__label--half as well. */
   padding: 0 0.1em;
   font-size: 30px;
 }
 
 /* add padding and positioning to half star labels */
 .log-details .rating__label--half {
   padding-right: 0;
   margin-right: -0.6em;
   z-index: 2;
 }
 
 /* set default star color */
 .log-details .rating__icon--star {
   color: rgb(5, 114, 238);
 }
 
 /* set color of none icon when unchecked */
 .log-details .rating__icon--none {
   color: #eee;
 }
 
 /* if none icon is checked, make it red */
 .log-details .rating__input--none:checked + .rating__label .rating__icon--none {
   color: red;
 }
 
 /* if any input is checked, make its following siblings grey */
 .log-details .rating__input:checked ~ .rating__label .rating__icon--star {
   color: #ddd;
 }
 
 /* make all stars orange on rating group hover */
 .log-details .rating-group:hover .rating__label .rating__icon--star,
 .rating-group:hover .rating__label--half .rating__icon--star {
   color: rgb(5, 114, 238);
 }
 
 /* make hovered input's following siblings grey on hover */
 .log-details .rating__input:hover ~ .rating__label .rating__icon--star,
 .log-details .rating__input:hover ~ .rating__label--half .rating__icon--star {
   color: #ddd;
 }
 
 /* make none icon grey on rating group hover */
 .log-details .rating-group:hover .rating__input--none:not(:hover) + .rating__label .rating__icon--none {
    color: #eee;
 }
 
 /* make none icon red on hover */
 .log-details .rating__input--none:hover + .rating__label .rating__icon--none {
   color: red;
 }
 
 .log-details .rating-action{
   margin-bottom: 10px;
   margin-right: 20px;
   display: inline-block;
 }
 
 .log-details .rate{
   margin-top: 10px;
   margin-bottom: 10px;
 }
 
 .log-details .like-action {
   display: inline-block;
   vertical-align: top;
   margin-top: 10px;
   margin-left: 90px;
   width: 50px;
 }
 
 .log-details .like-action ion-icon{
   margin-top: 10px;
   font-size: 30px;
   position: relative;
   align-items: center;
 }
 
 .log-details .like-action ion-icon:hover{
   color: pink;
 }
 
 .log-details .does-contain-spoiler{
   margin-top: 50px;
   width: 150px;
 }
 
 .log-details .does-contain-spoiler label{
   font-size: 15px;
 }
 
 /* The container */
 .contain-spoilers {
   display: block;
   position: relative;
   margin-bottom: 12px;
   cursor: pointer;
   font-size: 22px;
   -webkit-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
 }
 
 /* Hide the browser's default checkbox */
 .contain-spoilers input {
   position: absolute;
   opacity: 0;
   cursor: pointer;
   height: 0;
   width: 0;
 }
 
 /* Create a custom checkbox */
 .checkmark {
   position: absolute;
   bottom: 0;
   right: 0;
   height: 20px;
   width: 20px;
   background-color: #eee;
 }
 
 /* On mouse-over, add a grey background color */
 .contain-spoilers:hover input ~ .checkmark {
   background-color: #ccc;
 }
 
 /* When the checkbox is checked, add a blue background */
 .contain-spoilers input:checked ~ .checkmark {
   background-color: #2196F3;
 }
 
 /* Create the checkmark/indicator (hidden when not checked) */
 .checkmark:after {
   content: "";
   position: absolute;
   display: none;
 }
 
 /* Show the checkmark when checked */
 .contain-spoilers input:checked ~ .checkmark:after {
   display: block;
 }
 
 /* Style the checkmark/indicator */
 .contain-spoilers .checkmark:after {
   left: 9px;
   top: 5px;
   width: 5px;
   height: 10px;
   border: solid white;
   border-width: 0 3px 3px 0;
   -webkit-transform: rotate(45deg);
   -ms-transform: rotate(45deg);
   transform: rotate(45deg);
 }
 
 .log-wrapper .save-button{
   background-color: rgb(5, 114, 238);
   position: absolute;
   right: 80px;
   bottom: 80px;
   padding: 10px;
   border-radius: 5px;
 }
 
 .log-wrapper .save-button:hover{
   opacity: 0.8;
 }
 
 @import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);
 
 /* Ratings widget */
 .rate {
     display: block;
     border: 0;
 }
 /* Hide radio */
 .rate > input {
     display: none;
 }
 /* Order correctly by floating highest to the right */
 .rate > label {
     float: right;
 }
 /* The star of the show */
 .rate > label:before {
     display: inline-block;
     font-size: 25px;
     padding: .3rem .2rem;
     margin: 0;
     cursor: pointer;
     font-family: FontAwesome;
     content: "\f005 "; /* full star */
 }
 /* Zero stars rating */
 .rate > label:last-child:before {
     content: "\f006 "; /* empty star outline */
 }
 /* Half star trick */
 .rate .half:before {
     content: "\f089 "; /* half star no outline */
     position: absolute;
     padding-right: 0;
 }
 /* Click + hover color */
 input:checked ~ label, /* color current and previous stars on checked */
 label:hover, label:hover ~ label { color: rgb(5, 114, 238);  } /* color previous stars on hover */
 
 /* Hover highlights */
 input:checked + label:hover, input:checked ~ label:hover, /* highlight current and previous stars */
 input:checked ~ label:hover ~ label, /* highlight previous selected stars for new rating */
 label:hover ~ input:checked ~ label /* highlight previous selected stars */ { color:  rgb(5, 114, 238);  } 
 
 
 /*Person Section*/
 
 .person-wrapper{
   margin-top: 50px;
   margin-left: 100px;
   display: flex;
 }
 
 .film-list{
   display: inline-block;
   width: 800px;
 }
 .starred-by-person{
   border-bottom: rgb(53, 53, 53) solid 2px;
   border-radius: 5px;
   padding-bottom: 20px;
 }
 .starred-by-person .person-label{
   color: rgba(246, 246, 246, 0.6);
   display: block;
 }
 .starred-by-person .director{
   font-size: 20px;
 }
 
 .person-wrapper .film-list .filter-bar{
   padding: 5px;
 }
 
 .person-wrapper .person-profile{
   display: inline-block;
   width: 450px;
   padding: 30px;
   vertical-align: top;
   border-top: rgb(53, 53, 53) 2px solid;
   border-left: rgb(53, 53, 53) 2px solid;
   border-radius: 5px;
   margin: 50px;
 }
 
 .person-profile .person-img{
   height: 300px;
   width: 60%;
   object-fit: contain;
   margin: auto;
 }
 
 .person-profile .person-description p{
   font-size: 15px;
   color: rgba(246, 246, 246, 0.6);
 }
 
 .search-result {
   padding: 20px;
   margin-left: 100px;
   margin-top: 10px;
   margin-right: 100px;
   margin-bottom: 20px;
   border-bottom: solid 2px rgb(53, 53, 53);
   border-radius: 5px;
 }
 /*---User Profile Section---*/
 
 .user-wrapper{
   
 }
 
 
 .user-profile{
   
   margin: 20px 100px;
   padding: 20px;
 }
 
 .user-avatar{
   height: 110px;
   width: 110px;
   object-fit: contain;
   display: inline-block;
   vertical-align: top;
   border: solid 1px rgba(245, 245, 245, 0.301);
   border-radius: 50%;
   background-color: black;
 }
 
 .user-bio{
   display: inline-block;
   width: 500px;
   overflow-x: hidden;
   overflow-y: auto;
 }
 
 .user-name{
   display: inline-block;
   vertical-align: middle;
   margin-top: 20px;
   margin-left: 50px;
   font-size: 25px;
 }
 
 .edit-button{
   vertical-align: bottom;
   padding: 3px;
   margin-left: 8px;
   display: inline-block;
   transition: .1s;
 }
 .edit-button:hover{
   color:rgb(5, 114, 238);
   cursor: pointer;
   transition: .1s;
 }
 
 .user-description{
   margin-top: 20px;
   margin-left: 50px;
   color: rgba(246, 246, 246, 0.6);
 }
 
 .activities-record{
   display: inline-block;
   vertical-align: top;
 }
 
 .activities-record a{
   display: inline-block;
   padding: 0 15px;
   border-right: solid rgb(53, 53, 53) 2px;
   
 }
 .activities-record span{
   display: block;
 }
 
 .activities-record .value{
   font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   font-size: 20px;
   font-weight: bold;
   margin-bottom: 10px;
   text-align: center;
 }
 
 .activities-record .definition{
   font-size: 15px;
   font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   color: rgba(245, 245, 245, 0.301);
 }
 
 .recent-films{
   width: 1000px;
   margin-left: 100px;
   margin-right: 100px;
   margin-top: 20px;
 }
 .recent-films h2{
   font-size: 15px;
   color: rgba(245, 245, 245, 0.5);
   margin-bottom: 15px;
   padding-bottom: 5px;
   border-bottom: rgb(53, 53, 53) solid 2px;
   border-radius: 5px;
 }
 
 .recent-reviews{
   width: 1000px;
   margin-left: 100px;
   margin-right: 100px;
   margin-top: 20px;
 }
 
 .recent-reviews h2{
   font-size: 15px;
   color: rgba(245, 245, 245, 0.5);
   margin-bottom: 15px;
   padding-bottom: 5px;
   border-bottom: rgb(53, 53, 53) solid 2px;
   border-radius: 5px;
 }
 
 
 .user-film{
   display: inline-block;
   width: 76px;
   height: 111px;
   object-fit: contain;
   border: solid whitesmoke 1.5px;
   border-radius: 5px;
 }
 .user-film:hover{
   border: solid 1.5px rgb(5, 114, 238);
   transition: .5s;
 }
 .user-film img{
   border-radius: 5px;
 }
 
 .review-details{
   display: inline-block;
   vertical-align: top;
   margin-left: 10px;
 }
 .review-details .film-title{
   font-size: 20px;
   margin-right: 10px;
   margin-bottom: 15px;
 }
 .review-details .film-title:hover{
   color: rgb(5, 114, 238);
   transition: .5s;
 }
 
 
 .user-rate {
   margin-left: 50px;
   margin-top: 5px;
   color: rgba(246, 246, 246, 0.6);
   display: inline-block;
   font-size: 15px;
 }
 .star-icon{
   color: rgb(5, 114, 238);
 }
 
 .year{
   color: rgba(245, 245, 245, 0.301);
   font-size: 15px;
 }
 
 /*--Edit-profile--*/
 
 .form-control:focus {
   box-shadow: none;
   border-color: #BA68C8
 }
 
 .profile-button {
   background: rgb(99, 39, 120);
   box-shadow: none;
   border: none
 }
 
 .profile-button:hover {
   background: #682773
 }
 
 .profile-button:focus {
   background: #682773;
   box-shadow: none
 }
 
 .profile-button:active {
   background: #682773;
   box-shadow: none
 }
 
 .back:hover {
   color: #682773;
   cursor: pointer
 }
 
 .labels {
   font-size: 11px
 }
 
 .add-experience:hover {
   background: #BA68C8;
   color: #fff;
   cursor: pointer;
   border: solid 1px #BA68C8
 }
 
 