<!-- views/films/list.ejs -->
<h1>Films List</h1>
<ul>
    <% film.forEach(film => { %>
        <li>
            <!-- Update anchor tag to include the correct href -->
            <a href="films/<%= film.idfilm %>">
                <%= film.title %>
            </a>
        </li>
    <% }); %>
</ul>
